<!DOCTYPE html>
<html>
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<body>

<div>

	<h1>{{ title }}</h1>

  <form method="POST">
    {% csrf_token %}
    {% block form.username.label_tag %}EEID{% endblock %}
    {{ form.username }}

    {% block form.password.label_tag %}Mot de passe{% endblock %}
    {{ form.password }}

    {{ form.errors }}
  
    <input type="submit" value="Envoyer">
  </form>
</div>

</body>
</html>